## ELEVATE LABS -INTERNSHIP

### Name :-Prathamesh U Gaikwad

### Task-1:-: Data Cleaning and Preprocessing

In [23]:
#Importing Libraries for analysis
import pandas as pd
import numpy as np

In [24]:
df=pd.read_csv('dmart.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer ID              25000 non-null  object
 1   Product ID               25000 non-null  object
 2   Order ID                 25000 non-null  int64
 3   Customer Age             25000 non-null  int64
 4   Gender                   25000 non-null  object
 5   Product Name             25000 non-null  object
 6   MRP                      25000 non-null  float64
 7   Discount Price           25000 non-null  float64
 8   Category                 25000 non-null  object
 9   State                    25000 non-null  object
 10  City                     25000 non-null  object
 11  Subscription             25000 non-null  object
 12  Bill Number              25000 non-null  float64
 13  Time Spent on Website    25000 non-null  float64
 14  Rating                   25000 non-null  float64
 15  Marketing/Advertisement  25000 non-null  object
 16  Ship Mode                25000 non-null  object
 17  Order Status             25000 non-null  object
 18  Order Date               25000 non-null  object
 19  Delivery Date            25000 non-null  object
 20  Cancellation Date        1784 non-null   object
 21  Payment Method           25000 non-null  object
 22  Pin Code                 25000 non-null  int64
 23  Total Order Value        25000 non-null  object
 24  Payment Status           25000 non-null  object
 25  No of Clicks             25000 non-null  int64
 26  Year                     25000 non-null  int64
 27  Month                    25000 non-null  object
 28  Shipping Charges         25000 non-null  object
dtypes: float64(5), int64(5), object(19)
memory usage: 5.5+ MB

In [26]:
df.describe()

,Order ID,Customer Age,MRP,Discount Price,Bill Number,Time Spent on Website,Rating,Pin Code,No of Clicks,Year
count,2.500000e+04,25000.000000,25000.000000,25000.000000,2.500000e+04,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,4.987130e+08,43.856600,1013.746646,735.621509,5.016695e+11,10.150932,3.008728,496731.079480,50.423040,2022.002200
std,2.881895e+08,15.285775,571.079711,441.362817,2.887202e+11,10.965989,1.159525,287726.921162,28.867925,0.816714
min,1.912800e+04,18.000000,20.040000,10.910000,2.349474e+07,1.000000,1.000000,5.000000,1.000000,2021.000000
25%,2.503746e+08,31.000000,523.995000,367.665000,2.540000e+11,2.980000,2.000000,247984.500000,26.000000,2021.000000
50%,4.997311e+08,44.000000,1014.415000,713.140000,5.020000e+11,5.000000,3.000000,495215.500000,50.000000,2022.000000
75%,7.471021e+08,57.000000,1506.812500,1061.347500,7.520000e+11,13.430000,4.000000,745846.250000,76.000000,2023.000000
max,9.999131e+08,70.000000,1999.920000,1876.220000,1.000000e+12,59.970000,5.000000,999997.000000,100.000000,2023.000000

## Identify and handle missing values using .isnull() in Python

In [27]:
df.isnull()

,Customer ID,Product ID,Order ID,Customer Age,Gender,Product Name,MRP,Discount Price,Category,State,...,Delivery Date,Cancellation Date,Payment Method,Pin Code,Total Order Value,Payment Status,No of Clicks,Year,Month,Shipping Charges
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
24996,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
24997,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
24998,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
24999,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [28]:
df.isnull().sum()

Customer ID                    0
Product ID                     0
Order ID                       0
Customer Age                   0
Gender                         0
Product Name                   0
MRP                            0
Discount Price                 0
Category                       0
State                          0
City                           0
Subscription                   0
Bill Number                    0
Time Spent on Website          0
Rating                         0
Marketing/Advertisement        0
Ship Mode                      0
Order Status                   0
Order Date                     0
Delivery Date                  0
Cancellation Date          23216
Payment Method                 0
Pin Code                       0
Total Order Value              0
Payment Status                 0
No of Clicks                   0
Year                           0
Month                          0
Shipping Charges               0
dtype: int64

## Remove duplicate rows using .drop_duplicates()

In [29]:
df.duplicated() # There are no duplicated values in the dataset

0        False
1        False
2        False
3        False
4        False
         ...
24995    False
24996    False
24997    False
24998    False
24999    False
Length: 25000, dtype: bool

In [30]:
df.duplicated().sum()    # As there is no duplicate we dont need to use the .drop_duplicates()

0

## Standardize text values like gender, country names, etc

In [31]:
# To standardize we have to convert everyting to lowercase
# Replace spaces with underscore
# This step is necessary to make it easier to write code and avoid errors

In [43]:
df['Gender'].str.strip().str.capitalize()

0        Female
1          Male
2        Female
3          Male
4        Female
          ...
24995      Male
24996      Male
24997      Male
24998      Male
24999      Male
Name: Gender, Length: 25000, dtype: object

In [44]:
df['Payment Status'].str.strip().str.capitalize()

0           Paid
1           Paid
2           Paid
3        Pending
4           Paid
          ...
24995    Pending
24996    Pending
24997       Paid
24998    Pending
24999       Paid
Name: Payment Status, Length: 25000, dtype: object

In [45]:
df['Subscription'].str.strip().str.capitalize()

0         Premium
1        Freepass
2        Freepass
3        Freepass
4        Freepass
           ...
24995     Premium
24996    Freepass
24997    Freepass
24998    Freepass
24999     Premium
Name: Subscription, Length: 25000, dtype: object

In [46]:
df['Marketing/Advertisement'].str.strip().str.capitalize()

0        Instagram
1         Facebook
2        Instagram
3            Other
4            Other
           ...
24995     Facebook
24996        Other
24997     Facebook
24998      Friends
24999     Facebook
Name: Marketing/Advertisement, Length: 25000, dtype: object

In [47]:
#'___________________________________________________________________________________________'

In [42]:
df.columns

Index(['Customer ID', 'Product ID', 'Order ID', 'Customer Age', 'Gender',
       'Product Name', 'MRP', 'Discount Price', 'Category', 'State', 'City',
       'Subscription', 'Bill Number', 'Time Spent on Website', 'Rating',
       'Marketing/Advertisement', 'Ship Mode', 'Order Status', 'Order Date',
       'Delivery Date', 'Cancellation Date', 'Payment Method', 'Pin Code',
       'Total Order Value', 'Payment Status', 'No of Clicks', 'Year', 'Month',
       'Shipping Charges'],
      dtype='object')

In [34]:
df

,Customer ID,Product ID,Order ID,Customer Age,Gender,Product Name,MRP,Discount Price,Category,State,...,Delivery Date,Cancellation Date,Payment Method,Pin Code,Total Order Value,Payment Status,No of Clicks,Year,Month,Shipping Charges
0,YSB75,BW653,479577309,28,Female,Ariel Matic Top Load Liquid Detergent,977.44,909.02,Imported,Andhra Pradesh,...,13-05-2022,NaN,Credit,318324,909.02,Paid,29,2022,May,0
1,FUS93,XV061,634865221,47,Male,VSR Channa Dal,834.09,450.41,Branded,Telangana,...,20-08-2021,NaN,Debit,730162,450.41,Paid,95,2021,August,0
2,AJP28,GF695,113166210,63,Female,Tenali Double Horse Chana Dal,1095.20,1007.58,Branded,Gujarat,...,26-10-2021,NaN,Debit,694091,1007.58,Paid,51,2021,October,0
3,URC55,VM478,740539230,41,Male,Tata Tea,748.16,389.04,Imported,Maharashtra,...,27-08-2021,NaN,Credit,211807,489.04,Pending,12,2021,August,100
4,ZOP23,XD230,156544145,22,Female,VSR Channa Dal,1249.04,911.80,Local,Gujarat,...,10-12-2023,NaN,Credit,78304,1011.8,Paid,26,2023,December,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,BAT61,LO803,449449740,35,Male,Parle Nutricrunch Digestive Cookies,1520.07,790.44,Local,Telangana,...,04-04-2021,NaN,UPI,567711,840.44,Pending,56,2021,April,50
24996,WMZ45,MO872,171612408,60,Male,Usha Heavy Weight Iron - El3710: 1000 W,1552.67,1242.14,Local,Telangana,...,13-04-2021,NaN,Netbanking,445255,1342.14,Pending,16,2021,April,100
24997,KXS05,OY610,961751448,62,Male,Ariel Matic Front Load Liquid Detergent,384.13,361.08,Local,Andhra Pradesh,...,05-09-2023,NaN,UPI,911393,511.08,Paid,31,2023,September,150
24998,AFZ10,ZY875,258727912,44,Male,Tenali Double Horse Chana Dal,283.66,209.91,Imported,Andhra Pradesh,...,23-07-2023,NaN,Credit,546182,209.91,Pending,2,2023,July,0
24999,TRO41,KS726,962056465,55,Male,Amul Butter Unsalted,41.11,26.72,Imported,Maharashtra,...,05-11-2022,NaN,Debit,939006,26.72,Paid,85,2022,October,0

## Convert date formats to a consistent type (e.g., dd-mm-yyyy).

In [35]:
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce', dayfirst=True)
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'], errors='coerce', dayfirst=True)
df['Cancellation Date'] = pd.to_datetime(df['Cancellation Date'], errors='coerce', dayfirst=True)

# pd.to_datatime() to convert them to Pandas datetime format
# error='coerce' handles bad or missing dates by converting them to NaT(not a time)
# dayfirst=True treats 12-05-2024 as 12 may 2024

In [36]:
df

,Customer ID,Product ID,Order ID,Customer Age,Gender,Product Name,MRP,Discount Price,Category,State,...,Delivery Date,Cancellation Date,Payment Method,Pin Code,Total Order Value,Payment Status,No of Clicks,Year,Month,Shipping Charges
0,YSB75,BW653,479577309,28,Female,Ariel Matic Top Load Liquid Detergent,977.44,909.02,Imported,Andhra Pradesh,...,2022-05-13,NaT,Credit,318324,909.02,Paid,29,2022,May,0
1,FUS93,XV061,634865221,47,Male,VSR Channa Dal,834.09,450.41,Branded,Telangana,...,2021-08-20,NaT,Debit,730162,450.41,Paid,95,2021,August,0
2,AJP28,GF695,113166210,63,Female,Tenali Double Horse Chana Dal,1095.20,1007.58,Branded,Gujarat,...,2021-10-26,NaT,Debit,694091,1007.58,Paid,51,2021,October,0
3,URC55,VM478,740539230,41,Male,Tata Tea,748.16,389.04,Imported,Maharashtra,...,2021-08-27,NaT,Credit,211807,489.04,Pending,12,2021,August,100
4,ZOP23,XD230,156544145,22,Female,VSR Channa Dal,1249.04,911.80,Local,Gujarat,...,2023-12-10,NaT,Credit,78304,1011.8,Paid,26,2023,December,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,BAT61,LO803,449449740,35,Male,Parle Nutricrunch Digestive Cookies,1520.07,790.44,Local,Telangana,...,2021-04-04,NaT,UPI,567711,840.44,Pending,56,2021,April,50
24996,WMZ45,MO872,171612408,60,Male,Usha Heavy Weight Iron - El3710: 1000 W,1552.67,1242.14,Local,Telangana,...,2021-04-13,NaT,Netbanking,445255,1342.14,Pending,16,2021,April,100
24997,KXS05,OY610,961751448,62,Male,Ariel Matic Front Load Liquid Detergent,384.13,361.08,Local,Andhra Pradesh,...,2023-09-05,NaT,UPI,911393,511.08,Paid,31,2023,September,150
24998,AFZ10,ZY875,258727912,44,Male,Tenali Double Horse Chana Dal,283.66,209.91,Imported,Andhra Pradesh,...,2023-07-23,NaT,Credit,546182,209.91,Pending,2,2023,July,0
24999,TRO41,KS726,962056465,55,Male,Amul Butter Unsalted,41.11,26.72,Imported,Maharashtra,...,2022-11-05,NaT,Debit,939006,26.72,Paid,85,2022,October,0

## Rename column headers to be clean and uniform (e.g., lowercase, no spaces).

In [53]:
df.columns = ( df.columns.str.lower().str.strip().str.replace(" ","_").str.replace("/","_"))

# converts all column names to lowercase

#.str.strip()- removes extra spaces at the beginning or end

#.str.replace(" ", "_")- replaces spaces with underscores

#.str.replace("/", "_")- replaces slashes with underscores

In [54]:
df

,customer_id,product_id,order_id,customer_age,gender,product_name,mrp,discount_price,category,state,...,delivery_date,cancellation_date,payment_method,pin_code,total_order_value,payment_status,no_of_clicks,year,month,shipping_charges
0,YSB75,BW653,479577309,28,Female,Ariel Matic Top Load Liquid Detergent,977.44,909.02,Imported,Andhra Pradesh,...,2022-05-13,NaT,Credit,318324,909.02,Paid,29,2022,May,0
1,FUS93,XV061,634865221,47,Male,VSR Channa Dal,834.09,450.41,Branded,Telangana,...,2021-08-20,NaT,Debit,730162,450.41,Paid,95,2021,August,0
2,AJP28,GF695,113166210,63,Female,Tenali Double Horse Chana Dal,1095.20,1007.58,Branded,Gujarat,...,2021-10-26,NaT,Debit,694091,1007.58,Paid,51,2021,October,0
3,URC55,VM478,740539230,41,Male,Tata Tea,748.16,389.04,Imported,Maharashtra,...,2021-08-27,NaT,Credit,211807,489.04,Pending,12,2021,August,100
4,ZOP23,XD230,156544145,22,Female,VSR Channa Dal,1249.04,911.80,Local,Gujarat,...,2023-12-10,NaT,Credit,78304,1011.8,Paid,26,2023,December,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,BAT61,LO803,449449740,35,Male,Parle Nutricrunch Digestive Cookies,1520.07,790.44,Local,Telangana,...,2021-04-04,NaT,UPI,567711,840.44,Pending,56,2021,April,50
24996,WMZ45,MO872,171612408,60,Male,Usha Heavy Weight Iron - El3710: 1000 W,1552.67,1242.14,Local,Telangana,...,2021-04-13,NaT,Netbanking,445255,1342.14,Pending,16,2021,April,100
24997,KXS05,OY610,961751448,62,Male,Ariel Matic Front Load Liquid Detergent,384.13,361.08,Local,Andhra Pradesh,...,2023-09-05,NaT,UPI,911393,511.08,Paid,31,2023,September,150
24998,AFZ10,ZY875,258727912,44,Male,Tenali Double Horse Chana Dal,283.66,209.91,Imported,Andhra Pradesh,...,2023-07-23,NaT,Credit,546182,209.91,Pending,2,2023,July,0
24999,TRO41,KS726,962056465,55,Male,Amul Butter Unsalted,41.11,26.72,Imported,Maharashtra,...,2022-11-05,NaT,Debit,939006,26.72,Paid,85,2022,October,0

## Check and fix data types (e.g., age should be int, date as datetime).

In [64]:
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce', dayfirst=True)
df['delivery_date'] = pd.to_datetime(df['delivery_date'], errors='coerce', dayfirst=True)
df['cancellation_date'] = pd.to_datetime(df['cancellation_date'], errors='coerce', dayfirst=True)

In [65]:
df.dtypes

customer_id                        object
product_id                         object
order_id                            int64
customer_age                        int64
gender                             object
product_name                       object
mrp                               float64
discount_price                    float64
category                           object
state                              object
city                               object
subscription                       object
bill_number                       float64
time_spent_on_website             float64
rating                            float64
marketing_advertisement            object
ship_mode                          object
order_status                       object
order_date                 datetime64[ns]
delivery_date              datetime64[ns]
cancellation_date          datetime64[ns]
payment_method                     object
pin_code                            int64
total_order_value                 float64
payment_status                     object
no_of_clicks                        int64
year                                int64
month                              object
shipping_charges                  float64
dtype: object

In [66]:
df['customer_age'] = pd.to_numeric(df['customer_age'], errors='coerce')
df['mrp'] = pd.to_numeric(df['mrp'], errors='coerce')
df['shipping_charges'] = pd.to_numeric(df['shipping_charges'], errors='coerce')

In [67]:
df.dtypes

customer_id                        object
product_id                         object
order_id                            int64
customer_age                        int64
gender                             object
product_name                       object
mrp                               float64
discount_price                    float64
category                           object
state                              object
city                               object
subscription                       object
bill_number                       float64
time_spent_on_website             float64
rating                            float64
marketing_advertisement            object
ship_mode                          object
order_status                       object
order_date                 datetime64[ns]
delivery_date              datetime64[ns]
cancellation_date          datetime64[ns]
payment_method                     object
pin_code                            int64
total_order_value                 float64
payment_status                     object
no_of_clicks                        int64
year                                int64
month                              object
shipping_charges                  float64
dtype: object

# Short Summary

In [ ]:
# 1)Handled missing values 
#-First to import data as csv file
#identify missing values using .isnull()
#replace or remove them 

#2)Remove Duplicate rows,using .drop_dupliactes(), but as the data has no duplicate values we dont need to use it.

#3)Standardize text columns
#cleaned and standardize text values-eg-'male'
# Used str.strip(),str.lower(),and str.capatilized()

#4)Convert Data columns
#Converted columns like order_date, delivery_date, and cancellation_date to proper datetime format using pd.to_datetime().
#Ensured consistent date format (dd-mm-yyyy) where needed.

#5. Renamed Column Headers
#Made all column names lowercase, removed spaces and special characters 
# eg-df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_").str.replace("/", "_")